root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

end_of_line = lf
indent_style=space
indent_size=4

# https://pinterest.github.io/ktlint/1.8.0/rules/configuration-intellij-idea/
[*.{kt,kts}]
max_line_length = 140
ktlint_code_style = ktlint_official
ij_kotlin_name_count_to_use_star_import               = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members   = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset
